.post-content {
    background: none repeat scroll 0 0 #FFffff;
    opacity: 0.8;
    margin: 0 auto;
    margin-top: -54px;
    text-align:center
    position: relative;
    width:380px;

    
}

.thumbnail2 {
    margin:auto auto;
    text-align:center;
}

.wrapper {
    text-align:center;
}